<style>
  #copy-area {
    background-color: #404e82;
  }

  #copy-area .container {
    padding: 10px 0;
    text-align: center;
  }

  #copy-area .container p {
    margin-bottom: 0;
    color: antiquewhite;
  }

  #copy-area .container a {
    text-decoration: none;
    font-weight: bold;
    color: #f1f1f1;
  }

  #copy-area .container a:hover {
    color: #3ed1c5;
  }
</style>
<div class="footer">
  <div id="copy-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>
            Desenvolvido por
            <a href="..." target="_blank">SI 2019 </a> &copy; 2022
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
