<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-entrega-diploma-heading"
        data-cy="EntregaDiplomaCreateUpdateHeading"
        jhiTranslate="diplomaApp.entregaDiploma.home.createOrEditLabel"
      >
        Create or edit a Entrega Diploma
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="diplomaApp.entregaDiploma.dataDeEntrega" for="field_dataDeEntrega">Data De Entrega</label>
          <div class="input-group">
            <input
              id="field_dataDeEntrega"
              data-cy="dataDeEntrega"
              type="text"
              class="form-control"
              name="dataDeEntrega"
              ngbDatepicker
              #dataDeEntregaDp="ngbDatepicker"
              formControlName="dataDeEntrega"
            />
            <button type="button" class="btn btn-secondary" (click)="dataDeEntregaDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_observacoes">Observações</label>
          <textarea
            class="form-control"
            name="observacoes"
            id="field_observacoes"
            data-cy="observacoes"
            formControlName="observacoes"
          ></textarea>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
