<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-processo-heading" data-cy="ProcessoCreateUpdateHeading" jhiTranslate="diplomaApp.processo.home.createOrEditLabel">
        Create or edit a Processo
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="diplomaApp.processo.statusProcesso" for="field_statusProcesso">Status Processo</label>
          <select
            class="form-control"
            name="statusProcesso"
            formControlName="statusProcesso"
            id="field_statusProcesso"
            data-cy="statusProcesso"
          >
            <option [ngValue]="null">{{ 'diplomaApp.StatusProcesso.null' | translate }}</option>
            <option *ngFor="let statusProcesso of statusProcessoValues" [value]="statusProcesso">
              {{ 'diplomaApp.StatusProcesso.' + statusProcesso | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_matricula">Matrícula</label>
          <input type="text" class="form-control" name="matricula" id="field_matricula" data-cy="matricula" formControlName="matricula" />
          <div *ngIf="editForm.get('matricula')!.invalid && (editForm.get('matricula')!.dirty || editForm.get('matricula')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('matricula')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="diplomaApp.processo.nome" for="field_nome">Nome</label>
          <input type="text" class="form-control" name="nome" id="field_nome" data-cy="nome" formControlName="nome" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="diplomaApp.processo.data" for="field_data">Data</label>
          <div class="input-group">
            <input
              id="field_data"
              data-cy="data"
              type="text"
              class="form-control"
              name="data"
              ngbDatepicker
              #dataDp="ngbDatepicker"
              formControlName="data"
            />
            <button type="button" class="btn btn-secondary" (click)="dataDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="diplomaApp.processo.numeroDaDefesa" for="field_numeroDaDefesa">Numero Da Defesa</label>
          <input
            type="text"
            class="form-control"
            name="numeroDaDefesa"
            id="field_numeroDaDefesa"
            data-cy="numeroDaDefesa"
            formControlName="numeroDaDefesa"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="diplomaApp.processo.statusSigaa" for="field_statusSigaa">Status Sigaa</label>
          <select class="form-control" name="statusSigaa" formControlName="statusSigaa" id="field_statusSigaa" data-cy="statusSigaa">
            <option [ngValue]="null">{{ 'diplomaApp.Status.null' | translate }}</option>
            <option *ngFor="let status of statusValues" [value]="status">{{ 'diplomaApp.Status.' + status | translate }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="diplomaApp.processo.numeroSipac" for="field_numeroSipac">Numero Sipac</label>
          <input
            type="text"
            class="form-control"
            name="numeroSipac"
            id="field_numeroSipac"
            data-cy="numeroSipac"
            formControlName="numeroSipac"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="diplomaApp.processo.enviadoBiblioteca" for="field_enviadoBiblioteca"
            >Enviado Biblioteca</label
          >
          <select
            class="form-control"
            name="enviadoBiblioteca"
            formControlName="enviadoBiblioteca"
            id="field_enviadoBiblioteca"
            data-cy="enviadoBiblioteca"
          >
            <option [ngValue]="null">{{ 'diplomaApp.Enviado.null' | translate }}</option>
            <option *ngFor="let enviado of enviadoValues" [value]="enviado">{{ 'diplomaApp.Enviado.' + enviado | translate }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="diplomaApp.processo.turma" for="field_turma">Turma</label>
          <select class="form-control" id="field_turma" data-cy="turma" name="turma" formControlName="turma">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="turmaOption.id === editForm.get('turma')!.value?.id ? editForm.get('turma')!.value : turmaOption"
              *ngFor="let turmaOption of turmasSharedCollection; trackBy: trackTurmaById"
            >
              {{ turmaOption.ano }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="diplomaApp.processo.entregaDiploma" for="field_entregaDiploma">Entrega Diploma</label>
          <select
            class="form-control"
            id="field_entregaDiploma"
            data-cy="entregaDiploma"
            name="entregaDiploma"
            formControlName="entregaDiploma"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                entregaDiplomaOption.id === editForm.get('entregaDiploma')!.value?.id
                  ? editForm.get('entregaDiploma')!.value
                  : entregaDiplomaOption
              "
              *ngFor="let entregaDiplomaOption of entregaDiplomasSharedCollection; trackBy: trackEntregaDiplomaById"
            >
              {{ entregaDiplomaOption.dataDeEntrega }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
